.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

h1  {
  color: #666666;
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
	font-variant: normal;
	font-weight: 500;
}

h2 {
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
	font-variant: normal;
	font-weight: 500;
}

h4 {
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
	font-variant: normal;
	font-weight: 500;
}

.profile_pic_wrapper {
  width:270px;
  margin: 0 auto;
}

.caption {
  color: #ffffff;
  background-color: #666666;
  text-align: center;
  overflow:auto;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
