.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

h1  {
  color: #666666;
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
	font-variant: normal;
	font-weight: 500;
}

h2 {
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
	font-variant: normal;
	font-weight: 500;
}

h4 {
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
	font-variant: normal;
	font-weight: 500;
}

.profile_pic_wrapper {
  width:270px;
  margin: 0 auto;
  background-color: #666666;

}

.profilePic {
  width: 270px;
  align-self: center;
  

}

.caption {
  color: #ffffff;
  text-align: center;
  overflow:auto; 
}

.no_margin {
  margin: 0;
}

.bio {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 40px;
}

.signature {
  color: darkolivegreen;
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-style: italic;
  font-size: 30px;
  text-align: right;
}

.block_button {
  text-align: center;
  border-width: 2px;
  border-style: solid;
  font-family: 'Times New Roman', Times, serif;
  color: #666666;
  font-size: 18px;
  margin-top:40px;
  padding: 10px;
}
.block_button:hover {
  background-color: #666666;
  color: #ffffff;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
} 

.game {
  display: inline-flex; flex-direction: column;
  align-items: center; width: 100%;
}
.help {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  color: #666666;
  font-size: 18px;
  margin-top:40px;
  padding: 10px;
}
.target {
  border: thin solid #999; width: 40%; height: 75px;
  font-size: 45px; text-align: center; display: inline-block;
  background-color: #222;
}
.challenge-numbers {
  width: 85%; margin: 1rem auto;
}
.number {
  border: thin solid lightgray; background-color: #666666;
  width: 40%; text-align: center; font-size: 36px;
  border-radius: 5px; margin: 1rem 5%; display: inline-block;
}
.footer {
  display: flex; width: 90%; justify-content: space-between;  
}
.timer-value { color: darkgreen; font-size: 2rem; }